@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Biryani&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Biryani&family=Roboto:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-page {
  background-color: #202020;
  height: 100vh;
  
  
}
.auth-page__container {
  height: 100%;
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.auth-page__wrapper {
  color: #696974;
  display: flex;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  position: relative;
  z-index: 0;
}
.auth-page__block-with-img {
  
  /* position: absolute;
  top: 0;
  right: 0; */
}

.auth-page__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* height: 600px; */
  margin: auto;
}

.auth-page h1{
  color: white;
  margin-bottom: 30px;
  font-size: 76px;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 400;
}


.input {
  margin-top: 30px;
  width: inherit;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  background: transparent;
  border: 0px;
  outline: none;
  color: #999999;
  font-size: 25px;
  font-weight: 300;
  width: 100%;
  /* padding-right: 230px;  */
}




.auth-page button {
  background: #4044ed;
  padding: 10px;
  width: inherit;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 25px;
  color: #fff;
}

.auth-page button:hover {
  background: #4f52fd;
}


.registration {
  text-decoration: none;
  margin-left: 10px;
}

.registration:hover {
  color: #575fff;
}

.footer {
  font-family: "Smooch Sans", sans-serif;
  font-size: 30px;
  margin-top: 10px;
  color: #696974;
  cursor: pointer;
  transition: 0.3s;
  opacity: 95%;
}



.blagboard {
  font-family: "Smooch Sans", sans-serif;
  font-size: 50px;
  margin-top: 5px;
  color: #696974;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.blagboard:hover {
  color: #575fff;
}



/*Картинки*/

.img-right-upp {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
}

.img-left-center {
  position: absolute;
  max-height: 100vh;
  left: 0;
  top: 0;
  pointer-events: none;
}

.img-left-smoll {
  position: absolute;
  left: 140px;
  top: 100px;
  pointer-events: none;
}

.img-snou {
  position: absolute;
  left: 200px;
  top: 0;
  opacity: 10%;
  width: 15%;
  pointer-events: none;
}

.img-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.img-right-bottom2 {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.img-right-bottom3 {
  position: absolute;
  right: 60px;
  bottom: 20px;
  pointer-events: none;
}



@media screen and (max-width: 1225px) {
  .img-left-center {
    width: 200px;
  }
  .form-continer-first {
    transform: scale(70%);
  }
}

@media screen and (max-width: 1160px) {
  .img-right-bottom {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }
  .img-right-bottom2 {
    width: 100px;
  }
  .img-right-bottom3 {
    width: 100px;
    bottom: 50px;
  }
}

@media screen and (max-width: 1045px) {
  .img-right-upp {
    width: 400px;
  }
  .img-left-center {
    width: 200px;
  }
  .img-left-smoll {
  }
  .img-right-bottom {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }
  .img-right-bottom2 {
    width: 100px;
  }
  .img-right-bottom3 {
    width: 100px;
    bottom: 50px;
  }
  .form-continer-first {
    transform: scale(70%);
  }
}

@media screen and (max-width: 950px) {
  .img-right-upp {
    width: 400px;
  }
  .img-left-center {
    width: 200px;
    top: 100px;
  }
  .img-right-bottom {
    width: 100px;
    right: 40px;
    bottom: 40px;
  }
  .img-right-bottom2 {
    width: 100px;
  }
  .img-right-bottom3 {
    width: 100px;
    bottom: 50px;
  }
  .img-left-smoll {
    top: 180px;
  }
}

@media screen and (max-width: 910px) {
  .img-right-upp {
    width: 400px;
  }
  .img-left-center {
    width: 140px;
  }
  .img-left-smoll {
    left: 80px;
    top: 150px;
  }
  .img-right-bottom {
    display: none;
  }
  .img-right-bottom2 {
    display: none;
  }
  .img-right-bottom3 {
    display: none;
  }
  .form-continer-first {
    transform: scale(70%);
  }
}

@media screen and (max-width: 840px) {
  .img-right-upp {
    width: 400px;
  }
  .img-left-center {
    width: 140px;
  }
  .img-left-smoll {
    left: 80px;
    top: 150px;
  }
  .img-right-bottom {
    display: none;
  }
  .img-right-bottom2 {
    display: none;
  }
  .img-right-bottom3 {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .img-right-upp {
    width: 300px;
  }
  .img-left-center {
    width: 140px;
    top: 100px;
  }
  .img-left-smoll {
    width: 60px;
    top: 100px;
    left: 40px;
  }
  .img-right-bottom {
    display: none;
  }
  .img-right-bottom2 {
    display: none;
  }
  .img-right-bottom3 {
    display: none;
  }
  .form-continer-first {
    transform: scale(70%);
  }
}

@media screen and (max-width: 660px) {
  .img-left-center {
    display: none;
  }
  .img-snou {
    width: 150px;
    left: 100px;
  }
  .img-left-smoll {
    top: 40px;
  }
  .img-right-upp {
    width: 200px;
  }
}

@media screen and (max-width: 420px) {
  .img-right-upp {
    width: 100px;
  }
}

@media screen and (max-width: 370px) {
  .form-continer-first {
    transform: scale(60%);
  }
}

@media screen and (max-width: 345px) {
  .form-continer-first {
    transform: scale(50%);
  }
}
