.basket{

}
.basket__container{
    
}
.basket__wrapper{
    display: flex;
    /* flex-direction: column; */
}
.basket__list-devices{
    display: flex;
    flex-direction: column;

}
.basket__panel-info{
    display: flex;
    flex-direction: column;

}
.cart-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .cart-item-details {
    flex-grow: 1;
  }
  .cart-item-name {
    font-size: 18px;
    font-weight: bold;
  }
  .cart-item-price {
    font-size: 16px;
    color: #666;
  }