@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');



.container-main-brand{
    font-family: 'Alegreya Sans', sans-serif;
    display: flex;
    position: relative;
    border-collapse: collapse;
    background-color:#FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60%;
    height: 300px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 30px;
    margin-left: 7%;
    border: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    
}

.container-second{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container-filter-second{
    padding-bottom: 20px;
    margin-top: 6%;
    margin-left: 10%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 27px;

}

.solid{
    display: flex;
    border-bottom: 2px solid #ebecee;
    width: 240px;
    justify-content: center;
    align-items:center
}

.container-main-brand{
    font-family: 'Alegreya Sans', sans-serif;
    display: inline-block;
    position: relative;
    border-collapse: collapse;
    border-radius: 24px;
    width: 300px;
    height: 650px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 30px;
    margin-left: 7%;
    border: 0;
    justify-content: center;
    align-items: center;
    right: 0;

}

.container-first{
    display: flex;
    margin-left: 50px;
}

.container-second{
    align-items: center;   
    flex-direction: column;
    margin-bottom: 20px;

}

.p-3{
    font-family: 'Alegreya Sans', sans-serif;
    color:#A6AFBA;
    font-size: 20px;
    flex-direction: row-reverse;
    padding: 0px;
    font-weight: 300;
}

.brand-name-brandBar{
    cursor: pointer;
    transition: 0.25s;
    padding: 0;
    border:0;
}

.brand-name-brandBar:hover{
    color:black
}

.brand-name-brandBar:active{
    top: 1px;
    position: relative;
}

.bichecksquare{

    transition: 0.25s;
    margin-right: 10px;
}

.bichecksquare:hover{
    color:black;
}


.bichecksquarefill{
    display: none;
    transition: 0.25s;
    margin-right: 10px;
}

.btn-outline-danger{
    display: flex;
}

.all-device{
    font-family: 'Inter Tight', sans-serif;
    display: flex;
    position: relative;
    border-collapse: collapse;
    background-color:#0A20E6;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40%;
    height: 60px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1px;
    margin-left: 10%;
    border: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    flex-direction: column;
    color:#ffffff;
    font-size: 20px;
    transition: 0.25s;
    cursor: pointer;
}

.all-device:hover{
    background-color:#FFFFFF;
    color:black;
    font-weight:400;
}

.all-device:active{
    position: relative;
    top: 1px;
}

.all-device-first{
    font-size: 16px;
}

.all-device-second{
    font-size: 16px;
}
.pagination-shop{
    display: flex;
    overflow-y: hidden;
    margin-left: 12%;
    margin-top: 10%;
}

