@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300&family=Poppins:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.market11{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 350px;
    height: 350px;
    border: 1px;
    padding: 1px black;


}

.d-flex{
    margin-right: 1vh;
    margin-left: 2vh;
}


.market-container-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}


.device-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#000;

    margin-right: 10px;
    margin-top: 10px;
}

.device-name-second{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.device-price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 10px;
    color:#000;
}

.market-container-main{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 330px;
    background-color:#FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
    cursor: pointer;
}

.device-class-name-bi-bag{

}

.device-name-devicename-second{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left:auto;
    padding-right: 20px;
    padding-top: 20px;
}

.device-name-devicename{
    display: inline-block;
    margin-left: 1vw;
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 20px;
}

.container-device-item-second{
    display: flex;
    justify-content: center;
    align-items:center;    
}

.market-container-main:hover span{
    color:#0A20E6;
    opacity: 100%;
    transition: 0.5s ease-in-out;
}

.device-name-devicename-second{
    opacity: 25%;
}

.device-name-devicename-second:active{
    position: relative;
    top: 2px;
}

.device-name-container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10px;
    font-size: 21px;
    font-family: 'Alegreya Sans', sans-serif;
}

.img-for-all{
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}

