@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.container-devicePage-first {
  background-color: #f6f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container-DevicePage {
  background: #ffffff;
  height: 550px;
  width: 100vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 20px;
  max-width: 70%;
  border-radius: 25px;
  margin-bottom: 10vh;
  background: #ffffff;
  padding: 40px;

  box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15),
    0px 18px 36px rgba(166, 175, 186, 0.2);
}

.devicePage-img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.deviceRaiting {
  display: flex;
}

.deviceName {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  margin-left: 100px;
  margin-bottom: 0px;
}

.container-DevicePage:hover h1 {
  background-color: #0a20e6;
  color: #ffffff;
}

.container-brand-device {
  background: #f6f7f9;
  width: 100vw;
  height: 100vh;
}

.container-devicePage-second {
  display: flex;
  justify-content: left;
  align-items: center;
}

.bi-award-fill {
  color: #0a20e6;
}

.container-devicepage-between {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  color: #a6afba;
  margin-left: 40%;
  font-weight: 300;
}

.currentColor-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.price-container {
  display: flex;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 25px;

  margin-top: 30px;
}

.deviceName-word {
  margin-bottom: 0px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}

.praice-container-word {
  margin: 0px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

.deviceName-container {
  display: flex;
}

.opisanie-container {
  display: flex;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

.busket-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 7vh;
  width: 25vw;
  margin-top: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.25s;
  font-size: 20px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
}

.busket-main-text:hover {
  display: flex;
  transition: 0.25s;
}

.busket-main:active {
  position: relative;
  top: 2px;
}

.aracteristics-contahiner {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #a6afba;
}

.haracteristics-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

.carousel {
  display: flex;
  justify-content: center;

  width: 400px;
  height: 400px;
}

.devicePage-img-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.devicePage-img-main-container:active {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background-color: rgba(153, 153, 153, 0.7);
  transition: ease-in 1s;
}

.devicePage-img-main {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 25px;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15),
    0px 18px 36px rgba(166, 175, 186, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  .deviceName {
    margin-left: 40px;
  }
  .container-DevicePage {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 1200px;
  }
}

@media screen and (max-width: 900px) {
  .container-DevicePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 640px;
  }
  .devicePage-img {
    flex-direction: column;
  }
  .deviceName-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deviceName {
    justify-content: center;
    text-align: center;
    margin-left: 0px;
  }
  .container-devicepage-between {
    display: none;
  }
  .haracteristics-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aracteristics-contahiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .praice-container-word {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .busket-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 40vw;
  }
  .busket-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .busket-main {
    height: 40px;
    width: 30vw;
  }
}

@media screen and (max-width: 620px) {
  .busket-main {
    height: 40px;
    width: 50vw;
  }
}

@media screen and (max-width: 380px) {
  .busket-main {
    height: 40px;
    width: 60vw;
  }
  .container-DevicePage {
    height: 600px;
  }
}
